#------------------------------------
# Project
#------------------------------------





#------------------------------------
# Tools
#------------------------------------

.php_cs.cache
.phpunit.result.cache
/*-workspace
node_modules
/*.sublime-*
vendor





#------------------------------------
# Systems
#------------------------------------

.cache
.DS_Store
.tmp
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
error_log
Thumbs.db





#------------------------------------
# Gitkeep
#------------------------------------

!.gitkeep
