{
    "extends": [
        "oclif",
        "oclif-typescript",
        "eslint:recommended",
        "airbnb"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "warn",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/member-delimiter-style": "error",
        "@typescript-eslint/method-signature-style": "error",
        "no-case-declarations": 0,
        "@typescript-eslint/space-before-function-paren": 0,
        "@typescript-eslint/no-inferrable-types": 0,
        "no-param-reassign": 0,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "@typescript-eslint/indent": ["error", 4, {
            "SwitchCase": 1,
            "VariableDeclarator": 1,
            "outerIIFEBody": 1,
            "FunctionDeclaration": {
                "parameters": 1,
                "body": 1
            },
            "FunctionExpression": {
                "parameters": 1,
                "body": 1
            },
            "CallExpression": {
                "arguments": 1
            },
            "ArrayExpression": 1,
            "ObjectExpression": 1,
            "ImportDeclaration": 1,
            "flatTernaryExpressions": false,
            "ignoreComments": false
        }],
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "always",
            "asyncArrow": "always"
        }],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "ts": "never"
            }
        ],
        "newline-before-return": 1,
        "import/no-named-default": "off",
        "import/prefer-default-export": "off",
        "unicorn/no-array-for-each": "off",
        "unicorn/filename-case": "off",
        "class-methods-use-this": "off"
    }
}
