<?php

/** @noinspection PhpIllegalPsrClassPathInspection */

declare(strict_types=1);

use $useClassName;

// phpcs:disable PSR1.Classes.ClassDeclaration.MissingNamespace

class $className extends $baseClassName
{
    public function run(): void
    {
    }
}
